<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">

<body style="background-color:aliceblue">
<h2 style="color: black"> Learner's Academy </h2>

<h2 style="color: black">Subjects For Class :: <span th:text="${classid}"></span></h2>

<table id="subjects" th:border="5" width="100%">
    <thead>
    <tr>
        <th>Name</th>
        <th>COURSEID</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="li : ${list}">
        <td th:text="${li.name}"></td>
        <td th:text="${li.id}"></td>
    </tr>
    </tbody>
</table>
<h1 align="right" stlye="color: red"><a href="/">Return to Home</a></h1>

</body>